<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />            
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Education',     11],
          ['Medical',      2],
          ['Rent',  2],
          ['Food', 2],
          ['Entertainment',    7]
        ]);

        var options = {
          title: 'My Expenses in last month'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <title>Personal Expense Tracker</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-user-circle"></i>
                        <div class="title">Hello, Sowmiya</div>
                    </a>
                </li>
                <li>
                    <a href="db.html">
                        <i class="fas fa-home"></i>
                        <div class="title">Home</div>
                    </a>
                </li>
                <li>
                    <a href="profile.html">
                        <i class="fas fa-user"></i>
                        <div class="title">My profile</div>
                    </a>
                </li>
                
                
                <li>
                    <a href="pie-chart.html">
                        <i class="  fa-solid fa-chart-pie"></i>
                        <div class="title">Graphical view</div>
                    </a>
                </li>
                <li>
                    <a href="comparison.html">
                        <i class="fa-solid fa-code-compare"></i>
                        <div class="title">Compare</div>
                    </a>
                </li>
                <li>
                    <a href="transaction.html">
                        <i class="fas fa-rupee-sign"></i>
                        <div class="title">Transactions</div>
                    </a>
                </li>
                <li>
                    <a href="settings.html">
                        <i class="fas fa-cog"></i>
                        <div class="title">Settings</div>
                    </a>
                </li>
                <li>
                    <a href="Help.html">
                        <i class="fas fa-question"></i>
                        <div class="title">Help</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="text"><i class="fas fa-piggy-bank"></i>   Personal Expense Tracker
                </div>              
            </div>
            <div class="form-question">
                
                <div class="input-container">
                    <div class="dropdown-menu">
                    <input type="Date" value="dd-mm-yyyy" />
                    </div>
                </div>
              </div>
                     
            
        </div>
    </div>
    <div id="piechart" style="width: 900px; height: 1000px; margin-left: 600px; "></div>
</body>

</html>


